- var icon_contacts = ["fab fa-facebook-f","fab fa-twitter", "fab fa-tumblr","fab fa-vimeo-v"]
- var phone = "fas fa-phone-alt"
- var search = "fas fa-search"
- var shopping_cart = "fas fa-shopping-basket"
- var nav_links = ["Trang Chủ", "Giới Thiệu", "Sản Phẩm", "Sản Phẩm Mới", "Tin Tức","Liên Hệ"]
- var nav_products = ["Cây chậu treo", "Cây cỏ hoa", "Cây dây leo", "Cây để bàn", "Cây may mắn", "Cây trang trí", "Cây nội thất"]
- var nav_new_Products = ["Cây chậu treo", "Cây cỏ hoa", "Cây để bàn", "Cây trang trí"]
- 
    var users = [
        {
            classes: "fas fa-user",
            log: "Đăng Nhập",
            href: 'sign-in.html'
        },
        {
            classes: "fas fa-user-plus",
            log: "Đăng Ký",
            href: 'sign-up.html'
        }
    ]