- var icon_connects =  ["fab fa-facebook-f", "fab fa-twitter", "fab fa-youtube", "fab fa-vimeo-v"]
- var payments = ["fab fa-cc-visa", "fab fa-cc-mastercard", "fab fa-cc-paypal", "fab fa-cc-discover"]
- var paper_plane = "fas fa-paper-plane"
- 
    var connects = [
        {
            classes: "fas fa-mobile-alt",
            description: "Điện thoại: (84-4) 66.558.868"
        },
        {
            classes: "fas fa-envelope",
            description: "Email: info@dkt.com.vn"
        }
    ]
- var generals = ["Sitemap", "Danh mục sản phẩm", "Hợp tác","Thông tin liên hệ", "Câu hỏi thường gặp"]

- var store_info = ["Thông tin khách hàng", "Hỗ trợ dịch vụ","Chính sách ưu đãi", "Tin tức"]
- var icon_list = "fas fa-angle-right"
- var customer_info = ["Tài khoản của tôi", "Sản phẩm yêu thích", "Lịch sử mua hàng", "Chính sách đổi trả", "Góp ý, khiếu nại"]
- var service_support = ["Hệ thống cửa hàng", "Hướng dấn mua hàng", "Hướng dẫn thanh toán", "tích điểm đổi quà","Câu hỏi thường gặp"]
- var incentives = ["Chính sách giao hàng", "Chính sách đổi trả sản phẩm", "Chính sách bảo hành", "Giới thiệu sản phẩm mới", "Chính sách trả góp"]
- var news = ["Tin mới", "Khuyến mãi", "Tuyển dụng", "Download", "Tags"]
