include variable_links
- var data_slides = ["0","1","2"]
- var image_slides = [`${link_images}/slide_1.jpg`,`${link_images}/slide_2.jpg`,`${link_images}/slide_3.jpg`]
- var search_product = "fas fa-search"