- var icon_list = "fas fa-angle-right"
- var list_products = ["Cây chậu treo (10)", "Cây cỏ hoa (5)", "Cây dây leo", "Cây để bàn", "Cây may mắn", "Cây trang trí", "Cây nội thất"]
- var search_by_price = ["200.000 Đ - 400.000 Đ", "400.000 Đ - 600.000 Đ", "600.000 Đ - 800.000 Đ", "800.000 Đ - 1.000.000 Đ", "1.000.000 - 2.000.000 Đ"]
- 
    var search_by_color = [
        {
            classes: "green",
            name: "Xanh cây"
        },
        {
            classes: "red",
            name: "Đỏ cam"
        },
        {
            classes: "purple",
            name: "Tím"
        },
        {
            classes: "blue",
            name: "Xanh trời"
        },
        {
            classes: "yellow",
            name: "Vàng"
        },
        {
            classes: "pink",
            name: "Hồng"
        }
    ]