- var icon_fb = "fab fa-facebook-square"
- var icon_twitter = "fab fa-twitter"
- var icon_google_plus = "fab fa-google-plus-square"
- var icon_plus = "fas fa-plus-square"
- var you_care_product = ["spx2-2.png","spx2-5.png","spx2-6.png","spx2-7.png","spx2-8.png"]