include ./variable_links
- 
    var table_th = [
        {
            classes: 'img',
            name: 'Hình ảnh'
        },
        {
            classes: 'name-product',
            name: 'Tên sản phẩm'
        },
        {
            classes: 'unit-price',
            name: 'Đơn giá'
        },
        {
            classes: 'count',
            name: 'Số lượng'
        },
        {
            classes: 'into-money',
            name: 'Thành tiền'
        },
        {
            classes: 'delete',
            name: 'Xóa'
        }
    ]
- 
    var table_td = [
        {
            img: `${link_images}/spx2-1.png`,
            name: 'Cây văn phòng',
            unit_price: '270.000 đ',
            count: 1,
            into_money: '270.000 đ'
        },
        {
            img: `${link_images}/spx2-7.png`,
            name: 'Cây trang trí',
            unit_price: '270.000 đ',
            count: 1,
            into_money: '270.000 đ'
        },
        {
            img: `${link_images}/spx2-10.png`,
            name: 'Cây cỏ hoa',
            unit_price: '270.000 đ',
            count: 1,
            into_money: '270.000 đ'
        }
    ]
- var icon_delete = "fas fa-trash-alt"