- var icon_contacts = ["fab fa-facebook-f","fab fa-twitter", "fab fa-instagram","fab fa-linkedin-in"]
- var nav_links = ["Trang Chủ", "Giới Thiệu", "Sản Phẩm", "Sản Phẩm Mới", "Tin Tức","Liên Hệ"]
- var nav_products = ["Cây chậu treo","Cây cỏ hoa", "Cây dây leo","Cây để bàn","Cây may mắn","Cây trang trí","Cây nội thất"]
- var nav_new_Products = ["Cây chậu treo","Cây cỏ hoa", ,"Cây để bàn",,"Cây trang trí"]

- 
    var users = [
        {
            class: "fas fa-user",
            log: "Đăng Ký"
        },
        {
            class: "fas fa-user-plus",
            log: "Đăng Nhập"
        }
    ]