@import '../partials/variables';
@import '../partials/mixins';

.section__slides {
    height: 600px;

    @include responsive($breakpoint-lg) {
        height: 500px;
    }

    @include responsive($breakpoint-md) {
        height: 400px;
    }

    @include responsive($breakpoint-sm) {
        height: 230px;
    }

    #carouselExampleIndicators {
        height: 100%;

        ol {
            li {
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
                background: $color-white;
                border: 0;
            }

            .active {
                background: $color-green;
            }
        }

        .carousel-inner {
            height: 100%;

            .carousel-item {
                position: relative;

                img {
                    height: 600px;
                    object-fit: cover;

                    @include responsive($breakpoint-lg) {
                        height: 500px;
                    }

                    @include responsive($breakpoint-md) {
                        height: 500px;
                    }

                    @include responsive($breakpoint-sm) {
                        height: 230px;
                    }
                }

                .title {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    position: absolute;
                    @include flexCenter(column);
                    color: $color-white;
                    background: rgba(255, 255, 255, 0.1);

                    @include responsive($breakpoint-md) {
                        display: none;
                    }

                    h1 {
                        text-transform: uppercase;
                        font-size: 3rem;
                        font-weight: bold;
                        margin-bottom: 1rem;

                        @include responsive($breakpoint-lg) {
                            font-size: 2.5rem;
                        }
                    }

                    h5 {
                        text-transform: uppercase;
                        font-family: $font-redressed;
                        font-size: 3.5rem;

                        @include responsive($breakpoint-lg) {
                            font-size: 3rem;
                        }
                    }

                    p {
                        font-style: italic;
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}