#main__news {
    .section__news-header {
        padding: 0.75rem 0;
        margin-bottom: convertRem(30);

        a {
            font-size: 0.825rem;
            color: $color-gray;

            &.list {
                color: $color-green;
                @include transition-ease-in-out;

                &:hover {
                    color: $color-dark-green;
                }
            }

        }

        span {
            position: relative;
            margin: 0 0.25rem;

            &::after {
                position: absolute;
                content: '';
                height: convertRem(13);
                border-right: 1px solid $color-gray;
                right: 0;
                top: 5px;
                transform: rotate(30deg);
            }
        }
    }
}