extend ./layouts/layout
block title 
    title Danh sách sản phẩm
block append links
    link(rel="stylesheet", href="./css/style.css")

block main 
    include ./variables/variable_links
    include ./variables/variable_list_product
    main#main__list-product
        section.section__list-product-header
            .container 
                a(href="#").home Home 
                span
                a.list(href="#") Danh sách sản phẩm  
        section.section__list-product-content 
            .container 
                .row 
                    .col-12.col-md-4.col-lg-3 
                        .list-product.list-items
                            .title
                                span Danh mục sản phẩm
                            ul
                                each item in list_products
                                    +list-items(item)
                        .search-by-price.list-items
                            .title
                                span Tìm theo giá
                            ul
                                each price in search_by_price
                                    +list-items(price)
                        .search-by-color 
                            .title 
                                span Tìm theo màu
                            ul
                                each color in search_by_color
                                    - const {classes, name} = color
                                        +list-color(name)(class=classes)
                    .col-12.col-md-8.col-lg-9 

